/*----google fonts-----*/
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lato:wght@300;400&family=Oswald:wght@200..700&display=swap');

/*----body-----*/
* {
    margin: 0;
    padding: 0;
    font-family: "lato", serif;
    box-sizing: border-box;
}

/*----background color-----*/
body {
    background: rgb(135, 206, 235);
}

/*----Heading-----*/
.heading {
    text-align: center;
    font-size: 2.8rem;
    padding: 2%;
    padding-right: 10%;
    color:#001e4d;
}

a:link{
    text-decoration: none!important;
  }

/*----logo-----*/
.logo {
    height: 40px;
    padding-right: 5px;
}

/*----quiz container-----*/
.container {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 85vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px;
    display:grid;
}

/*----app container head-----*/
.container h1 {
    font-size: 1.6rem;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
    position: relative;
    top: -20px;
}

/*----quiz game area-----*/
.game-area {
    padding: 15px 0;
}

/*----quiz question head-----*/
.game-area h2 {
    font-weight: 500;
    color: #001e4d;
    font-weight: 500;
    font-size: 1.2rem;
}

/*----answers button styling-----*/
.btn {
    background: #E6ECF0;
    color: #222;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    border: 1px solid #222;
    padding: 5px 15px;
    margin: 5px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/*----answers button hover style and hidden after -----*/
.btn:hover:not([disabled]) {
    background: #2222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

/*----next button styling-----*/
#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;

    /**button value is none to make it hidden***/
    display: none;
}

/**styling the response of correct and incorrect answers***/
.correct {
    background: rgb(127, 212, 164);
}

.incorrect {
    background: #ee7272;
}

/* --------- Media queries */

@media (max-width: 414px) {

    * {
        padding-top: 5px
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .game-area {
        padding: 10% 0;
        width: 100%;
    }

    .heading {
        font-size: 1.7rem;
        padding-bottom: 5%;
    }

    .container h1 {
        padding-top: 10%;
    }

    .logo {
        height: 30px;
        padding-right: 5px;
        padding-bottom: 0;
    }

    @media (max-width: 320px) {
        .game-area {
            height: 70vh;
        }

        .container {
            width: 75%;
            margin: 10px auto;
            padding-top: 5%;
        }

        .btn--big {
            margin: 10px 10px;
        }

        .game-area {
            padding: 20px 0;
        }
    }
}