/*----body-----*/
* {
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
    box-sizing: border-box;
}

/*----background color-----*/
body {
    background: skyblue;
}

/*----Heading-----*/
.heading {
    text-align: center;
    font-size: 2.5rem;
    padding: 2%;
    padding-right: 10%;
}

/*----logo-----*/
.logo {
    height: 40px;
    padding-right: 5px;
}

/*----quiz container-----*/
.app {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 85vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px;
}

/*----app container head-----*/
.app h1 {
    font-size: 1.6rem;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
    position: relative;
    top: -20px;
}

/*----quiz game area-----*/
.quiz {
    padding: 10px 0;
}

/*----quiz question head-----*/
.quiz h2 {
    font-weight: 18px;
    color: #001e4d;
    font-weight: 600;
    font-size: 1.5rem;
}

/*----answers button styling-----*/
.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    border: 1px solid #222;
    padding: 5px 15px;
    margin: 5px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/*----answers button hover style and hidden after -----*/
.btn:hover:not([disabled]) {
    background: #2222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

/*----next button styling-----*/
#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 15px;
    margin: 15px auto 0;
    border-radius: 4px;
    cursor: pointer;

    /**button value is none to make it hidden***/
    display: none;
}

/**styling the response of correct and incorrect answers***/
.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}


/* --------- Media queries */

@media (max-width: 414px) {
    .controls-area {
        width: 100%;
    }

    .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .quiz {
        padding: 10% 0;
        width: 100%;
    }

    .heading {
        font-size: 1.7rem;
        padding-bottom: 5%;
    }

    .app h1 {
        padding-top: 10%;
    }

    .logo {
        height: 30px;
        padding-right: 5px;
        padding-bottom: 0;
    }

    @media (max-width: 320px) {
        .game-area {
            height: 70vh;
        }

        .app {
            width: 75%;
            margin: 10px auto;
        }

        .btn--big {
            margin: 10px 10px;
        }

        .quiz {
            padding: 10px 0;
        }
    }
}